[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "libtomcrypt"]
	path = libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "libtommath"]
	path = libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
